* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  display: flex;
}

.slider {
  width: 80%;
}

.column {
  width: 20%;
  background-color: red;
  
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

